<h1><%= @book.name %></h1>

<h3>Los capitulos de este libro son:</h3>

<!-- Que es el problema de query N+1 -->
<ul>
  <% @book.chapters.each do |chapter| %>
    <li><%= chapter.name %></li>
    <p>Con la oracion de tamaño</p>
    <ul>
      <% chapter.sentences.each do |sentence| %>
        <li><%= sentence.word_count %></li>
      <% end %>
    </ul>
  <% end %>
</ul>
